@model EquipoModel

@{
    ViewData["Title"] = "Modificar";
    List<PartidoModel> partidos = ViewData["Partido"] as List<PartidoModel>;
    List<SelectListItem> partidos_select = partidos.ConvertAll(m =>
    {
        return new SelectListItem()
        {
            Value = m.id.ToString(),
            Text = m.nombre,
            Selected = m.id == Model.fk_id_partido
        };
    });
}

<h2 class="text-light text-center">MODIFICAR EQUIPO</h2>

<form asp-action="Actualizar" method="post">
    @Html.HiddenFor(m => m.id);

    <div>
        <label class="text-light">NOMBRE</label>
        <input asp-for="nombre" class="form-control"/>
    </div>

     <div>
        <label class="text-light">PARTIDO</label>
        <select asp-for="fk_id_partido" asp-items="partidos_select" class="form-control"></select>
    </div>

    <div>
        <button class="btn btn-light" type="submit">GUARDAR</button>
    </div>
</form>

<a asp-action="Index" class="text-light">VOLVER</a>