@{
    ViewData["Title"] = "Home";
}

<div class="container row align-items-center g-5" id="centrar">
    <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-3 text-white text-uppercase text-center animated slideInLeft fw-bold">Institución Educativa @ViewData["NombreInstitucion"]</h1>
    </div>
    <div class="col-lg-6 text-center text-lg-end overflow-hidden" id="animar">
        <img class="img-fluid rounded" src="~/css/imagenes/home/inicio.png" alt="" />
    </div>
</div>
