@model ComiteModel

@{
    ViewData["Title"] = "Modificar";
}

<h2 class="text-light text-center">MODIFICAR COMITE</h2>

<form asp-action="Actualizar" method="post">
    @Html.HiddenFor(m => m.id);

    <div>
        <label class="text-light">NOMBRE</label>
        <input asp-for="nombre" class="form-control"/>
    </div>

    <div>
        <button class="btn btn-light" type="submit">GUARDAR</button>
    </div>
</form>

<a asp-action="Index" class="text-light">VOLVER</a>