@using SistemaElectoral.Data
@model List<SistemaElectoral.Models.EquipoModel>

@{
    ViewData["Title"] = "Inscriptos";
}

<h2 class="text-light text-center">LISTA DE EQUIPOS INSCRIPTOS</h2>

<div id="scroll-table" class="table-responsive">
    <table class="table text-light table-bordered">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>PARTIDO</th>
            <th>OPCIONES</th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.nombre
                </td>
                <td>
                    @EquipoData.ObtenerNombreEquipo(item.fk_id_partido)
                </td>
                <td class="text-center">
                    <a asp-action="Inscriptos" asp-controller="Equipo" asp-route-id="@item.id" class="text-light">VER</a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="text-lg-end">
    <a asp-action="Index" class="text-light">VOLVER</a>
</div>