@using Newtonsoft.Json
@model RolModel

@{
    ViewData["Title"] = "Nuevo";
}

<h2 class="text-light text-center mb-4">CREAR NUEVO ROL</h2>

<form id="nuevo" asp-action="Guardar" method="post">

    <div class="form-group" id="input-100">
        <label class="text-light">NOMBRE</label>
        <input asp-for="nombre" type="text" class="form-control"/>
    </div>
    
    <div class="form-grup text-light">
        <table>
            @for(int i = 0; i < Model.permisos.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.permisos[i].Value" />
                        <input asp-for="@Model.permisos[i].Selected" />
                        <label>@Model.permisos[i].Text</label>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="form-group text-center" id="botones-centro">
        <button class="btn btn-light" type="submit">Agregar</button>
    </div>

</form>

<div class="text-lg-end">
    <a asp-action="Index" class="text-light">VOLVER</a>
</div>
